<% var head_post = util.by_tag('head') %>
<% var video_post = util.by_tag('video') %>

<%if(head_post) {%>
  <h1>Head</h1>
  <%= head_post.content %>

  <% var thumb = util.thumbnail(head_post);%>
  <% if(thumb) {%>
    <img src="<%- thumb.url %>" width="<%- thumb.size %>"/>
  <%}%>

<%}%>

<% if(video_post) { %>
  <h1>Video</h1>
  <%= video_post.content %>
<%}%>
